a {
    text-decoration: none;
    color: #666;
}

.header-top {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #e3e4e5;
    border-bottom: solid 1px #ddd;
    .t {
        width: 1210px;
        margin: 0 auto;
        background: #e3e4e5;
        color: #999;
        a {
            color: #999;
        }
        .f1 {
            float: left;
            li {
                float: left;
                height: 30px;
                padding: 0 2px;
                font-size: 12px;
                .iconfont {
                    position: relative;
                    display: inline;
                    font-size: 16px;
                    color: #5c5452;
                    padding-right: 5px;
                }
                a:hover {
                    color: #F30213;
                }
                &.dropdown {
                    position: relative;
                    .dt {
                        padding: 0 25px 0 10px;
                        float: left;
                        i {
                            display: inline-block;
                            position: relative;
                            font-size: 14px;
                            color: #5c5452;
                        }
                    }
                    &:hover {
                        background-color: #FFFFFF;
                        border-bottom: 1px solid #fff;
                        .dropdown-item {
                            display: block;
                        }
                    }
                    .dropdown-item {
                        position: relative;
                        display: none;
                    }
                    .spacefff {
                        position: absolute;
                        width: 80px;
                        background-color: #fff;
                        height: 10px;
                        overflow: hidden;
                        top: -7px;
                        left: 0;
                        z-index: 15;
                    }
                    .dd {
                        width: 301px;
                        padding: 10px 0 10px 10px;
                        background-color: #fff;
                        border: 1px solid #ddd;
                        position: absolute;
                        top: 30px;
                        left: 0px;
                        z-index: 15;
                        ul li {
                            float: left;
                            width: 60px;
                            padding: 2px 0;
                            text-align: center;
                            a {
                                float: left;
                                padding: 0 8px;
                                &.selected {
                                    background-color: #f30213!important;
                                    color: #fff!important;
                                }
                            }
                            a:hover {
                                color: #F30213;
                                background-color: #f4f4f4;
                            }
                        }
                    }
                }
            }
        }
        .f2 {
            float: right;
            font-size: 12px;
            a:hover {
                color: #f30213;
            }
            .style-red {
                color: #f30213;
            }
            >li {
                float: left;
                height: 30px;
                line-height: 30px;
                padding: 0 8px;
                &.fore1 {
                    margin-right: 2px;
                }
                &.dropdown {
                    position: relative;
                    .dt {
                        width: 49px;
                        float: left;
                        padding-right: 25px;
                        position: relative;
                        i {
                            position: absolute;
                            right: 5px;
                            top: 10px;
                            width: 12px;
                            height: 12px;
                            line-height: 12px;
                        }
                    }
                    .dd {
                        position: absolute;
                        display: none;
                        top: 30px;
                        left: 0;
                        width: 280px;
                        background-color: #fff;
                        border: 1px solid #ddd;
                        z-index: 11;
                        ul {
                            width: 265px;
                            padding: 5px 0 5px 15px;
                            overflow: hidden;
                            li {
                                width: 126px;
                                float: left;
                            }
                            &.myone {
                                border-bottom: 1px solid #ddd;
                            }
                        }
                    }
                    .dorpdown-layer .dd-spacer {
                        position: absolute;
                        top: -7px;
                        height: 10px;
                        background: #fff;
                        overflow: hidden;
                        left: 0;
                        width: 88px;
                    }
                    &:hover {
                        background-color: #fff;
                        .dd {
                            display: block;
                        }
                    }
                }
                &.kefu {
                    .dd {
                        width: 170px;
                        .myone {
                            width: 155px;
                            li {
                                width: 70px;
                                &.title {
                                    font-weight: 700;
                                    color: #666;
                                    width: 155px;
                                }
                            }
                        }
                    }
                }
                &.linkweb {
                    .dd {
                        right: -64px;
                        width: 1210px;
                        left: auto;
                        .dd-spacer {
                            right: 64px;
                            left: auto;
                        }
                    }
                }
            }
            .spacer {
                width: 1px;
                height: 12px;
                margin-top: 9px;
                padding: 0;
                background: #ccc;
                overflow: hidden;
            }
        }
    }
}

.hotlogo {
    width: 100%;
    height: 80px;
    background-color: #DD364A;
    div {
        width: 1210px;
        margin: 0 auto;
        position: relative;
        a {
            img {
                width: 100%;
            }
        }
        i {
            position: absolute;
            top: 8px;
            right: 8px;
            width: 20px;
            height: 20px;
            background: url('../images/icon/56c699e8N54391b78.png');
            cursor: pointer;
        }
    }
}

.header-b {
    width: 100%;
    .outer {
        width: 1210px;
        margin: 0 auto;
        height: 87px;
        position: relative;
        .l {
            width: 350px;
            height: 50px;
            margin: 15px 0 22px;
            float: left;
            .logo {
                display: block;
                margin-top: 2px;
                width: 134px;
                height: 42px;
                float: left;
                background: url('../images/icon/jdlogo-201708-@1x.png') no-repeat 0 0;
            }
            .nav-list {
                width: 166px;
                height: 45px;
                padding-left: 50px;
                background: #fff;
                float: left;
                margin-top: 10px;
                >span {
                    font-size: 20px;
                    line-height: 45px;
                    font-weight: 400;
                    color: #666;
                    float: left;
                }
                .dropdown {
                    float: left;
                    color: #666;
                    font-size: 12px;
                    font-weight: 400;
                    position: relative;
                    padding-top: 12px;
                    height: 21px;
                    margin-left: 10px;
                    >span {
                        color: #666;
                        display: block;
                        position: relative;
                        width: 63px;
                        height: 19px;
                        border: 1px solid #ccc;
                        line-height: 19px;
                        z-index: 12;
                        background: #fff;
                        padding: 0 5px;
                        &:hover {
                            color: #f30213;
                        }
                        i {
                            position: absolute;
                            right: 2px;
                            top: 0px;
                            font-size: 13px;
                        }
                    }
                    .dropdown-item {
                        display: none;
                        border: 1px solid #ccc;
                        position: absolute;
                        width: 152px;
                        padding: 13px;
                        margin-top: -1px;
                        background: #fff;
                        overflow: hidden;
                        background-color: #fff;
                        z-index: 11;
                        li {
                            color: #666;
                            line-height: 24px;
                            font-size: 12px;
                            font-weight: 400;
                            a:hover {
                                color: #f30213;
                            }
                        }
                    }
                    &:hover {
                        .dropdown-item {
                            display: block;
                        }
                        >span {
                            border-bottom-color: #fff;
                        }
                    }
                }
            }
        }
        .c {
            width: 455px;
            margin: 27px 30px 0 85px;
            float: left;
            .form {
                width: 455px;
                height: 36px;
                .text {
                    width: 365px;
                    border-color: #027db6;
                    height: 24px;
                    line-height: 24px;
                    color: #999;
                    padding: 4px;
                    margin-bottom: 4px;
                    border-width: 2px 0 2px 2px;
                    border-style: solid;
                    outline: 0;
                    font-size: 12px;
                    float: left;
                }
                .button {
                    background-color: #027bd6;
                    float: left;
                    width: 80px;
                    height: 36px;
                    font-family: tahoma, arial, Microsoft YaHei, Hiragino Sans GB, "\u5b8b\u4f53", sans-serif;
                    border: none;
                    line-height: 1;
                    color: #fff;
                    font-size: 16px;
                    cursor: pointer;
                }
            }
            .hotwords {
                float: left;
                height: 20px;
                overflow: hidden;
                margin-top: 5px;
                li {
                    float: left;
                    font-size: 12px;
                    margin-right: 10px;
                    a {
                        color: #999;
                    }
                }
            }
        }
        .cart {
            float: left;
            z-index: 11;
            height: 36px;
            margin-top: 27px;
            .dropdown {
                position: relative;
                >span {
                    width: 91px;
                    display: block;
                    height: 34px;
                    border: 1px solid #DFDFDF;
                    padding: 0 28px 0 19px;
                    background: #F9F9F9;
                    line-height: 34px;
                    font-size: 12px;
                    color: #f30213;
                    position: relative;
                    i {
                        span {
                            position: absolute;
                            top: 7px;
                            left: 105px;
                            display: inline-block;
                            padding: 1px;
                            font-size: 12px;
                            line-height: 14px;
                            letter-spacing: -1px;
                            color: #fff;
                            background-color: #da1026;
                            border-radius: 7px;
                            width: 14px;
                            font-family: tahoma, arial;
                            text-align: center;
                        }
                    }
                }
                .dropdown-item {
                    position: absolute;
                    display: none;
                    border: 1px solid #ddd;
                    right: 0px;
                    left: auto;
                    width: 308px;
                    background-color: #fff;
                    z-index: 11;
                    .spacer {
                        position: absolute;
                        right: 0;
                        top: -7px;
                        z-index: 12;
                        width: 138px;
                        height: 12px;
                        background: #fff;
                    }
                    .prompt {
                        padding: 10px 15px;
                        .nogoods {
                            padding-left: 30px;
                            height: 49px;
                            line-height: 49px;
                            overflow: hidden;
                            color: #999;
                            b {
                                float: left;
                                width: 56px;
                                height: 49px;
                                background-image: url('../images/icon/settleup-nogoods.png');
                            }
                        }
                    }
                    .settleup{
                        position: relative;
                        z-index: 2;
                        width: 100%;
                        background: #fff;
                        color:#666;
                        font-size:12px;
                        .smt {
                            height: 25px;
                            padding: 6px 8px;
                            line-height: 25px;
                        }
                        h4{
                            float: left;
                            font-size:12px;
                            font-weight:bold;
                        }
                        .smc {
                            background: #fff;
                            height: auto!important;
                            max-height: 344px;
                            overflow-y: auto;
                            .fl{
                                float: left;
                                font-size:12px;
                                width:60%;
                            }
                            .dt{
                                background-color:#BFFAB1;
                            }
                            .fr{
                                float:right;
                                font-size:12px;
                            }
                        }
                        .p-img{
                            float:left;
                            width: 50px;
                            height: 50px;
                            border: 1px solid #ddd;
                            padding: 0;
                            margin-right: 10px;
                            font-size: 0;
                            img{
                                background:url('../images/icon/error-jd.gif') no-repeat 50% 50%;
                            }
                        }
                        .p-name {
                            float: left;
                            width: 120px;
                            height: 52px;
                            overflow:hidden;
                        }
                        .p-detail {
                            float: right;
                            text-align: right;
                        }
                        .p-price {
                            font-weight: 700;
                        }
                        .gift {
                            height: 17px;
                            width: 282px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            a{
                                color:#999;
                            }
                        }
                        ul{
                            margin-top: -1px;
                            li {
                                padding: 8px 10px;
                                border-top: 1px dotted #ccc;
                                overflow: hidden;
                                line-height: 17px;
                                vertical-align: bottom;
                                &.item:hover{
                                    background-color:#F5F5F5;
                                }
                            }
                        }

                        .smb {
                            padding: 8px;
                            background: #F5F5F5;
                            overflow: hidden;
                            zoom: 1;
                            a {
                                float: right;
                                height: 29px;
                                padding: 0 10px;
                                background: #E4393C;
                                color: #fff;
                                text-align: center;
                                font-weight: 700;
                                line-height: 29px;
                                border-radius: 3px;
                                -moz-border-radius: 3px;
                                -webkit-border-radius: 3px;
                            }
                        }
                        .p-total {
                            float: left;
                            line-height: 29px;
                            b,strong{
                                font-weight:bold;
                            }
                        }
                        .hl-orange {
                            margin-right: 5px;
                            color: #fff;
                            display: inline-block;
                            background: #f60;
                            padding: 0 2px;
                            font: 12px/16px simsun,Hiragino Sans GB;
                        }
                        .fr {
                            float: right;
                        }
                    }
                }
                &:hover {
                    >span {
                        background-color: #fff;
                        border-bottom-color: #fff;
                        box-shadow: 0 0 5px rgba(0, 0, 0, .2);
                    }
                    .dropdown-item {
                        display: block;
                        box-shadow: 0 0 5px rgba(0, 0, 0, .2);
                    }
                }
            }
        }
        #qrcode-20170502 {
            float: right;
            position: relative;
            width: 118px;
            height: 34px;
            margin-top: 27px;
            margin-left: 30px;
            border: 1px solid #DFDFDF;
            background: #F9F9F9;
            line-height: 34px;
            z-index: 10;
            font-size: 12px;
            &:hover .qrcode-hov {
                display: block;
            }
            .qrcode-icon {
                float: left;
                width: 25px;
                height: 25px;
                margin: 4px 4px 5px 8px;
                background-image: url('../images/icon/qr_icon.png');
                background-size: cover;
            }
            .qrcode-hov {
                display: none;
                position: absolute;
                top: 35px;
                left: -1px;
                width: 100px;
                height: 100px;
                padding: 9px;
                border: 1px solid #DFDFDF;
                border-top: 0;
                background: #fff;
            }
        }
    }
}

.nav-2017 {
    border-color: #027bd6;
    margin-top: 10px;
    height: 33px;
    .dropdown {
        float: left;
        position: relative;
        z-index: 10;
        height: 33px;
        line-height: 33px;
        overflow: visible;
        width: 193px;
        background: #027bd6;
        .dt {
            padding: 0 10px;
            font-size: 14px;
            position: relative;
            bottom: 0;
            color: #fff;
            background: #027bd6;
        }
    }
    .navitems-2017 {
        float: left;
        position: relative;
        z-index: 2;
        ul {
            float: left;
        }
        li {
            float: left;
            position: relative;
            a {
                height: 33px;
                padding: 0 22px;
                text-align: center;
                text-decoration: none;
                font-size: 14px;
                line-height: 33px;
                color: #333;
                display: block;
                &:hover {
                    color: #f30213;
                }
            }
            img {
                position: absolute;
                right: -20px;
                top: 0px;
                background: none;
            }
        }
        .curr a {
            color: #027bd6!important;
        }
    }
    #treasure {
        float: right;
        .channel-follow {
            width: 96px;
            height: 33px;
            line-height: 33px;
            font-size: 12px;
            color: #333;
            cursor: pointer;
        }
        i {
            float: left;
            margin: 9px 5px 8px 10px;
            width: 18px;
            height: 16px;
            display: block;
            background: url('../images/icon/follow.png') no-repeat 0 0;
        }
        &:hover {
            i {
                background-position: 0 -16px;
            }
        }
    }
}

.wrapper {
    width: 1210px;
    position: relative;
    z-index: 9;
    margin: 0 auto;
}

.first-screen {
    position: relative;
    width: 100%;
    height: 450px;
    margin-bottom: 45px;
    overflow: hidden;
    .p-category {
        position: absolute;
        width: 193px;
        height: 450px;
        z-index: 2;
        .title {
            position: absolute;
            width: 193px;
            height: 450px;
            background-color: #006ac8;
            .item {
                position: relative;
                width: 173px;
                height: 94px;
                padding: 0 10px;
                .item-title {
                    color: #fff;
                    padding: 15px 0 10px;
                    font-size: 15px;
                    line-height: 15px;
                }
                .menu-arrow {
                    position: absolute;
                    right: 10px;
                    top: 14px;
                    font: 700 12px/18px simsun, Hiragino Sans GB;
                }
                .item-cont {
                    width: 173px;
                    height: 53px;
                    border-bottom: 1px dotted #44a0f3;
                    .item-list {
                        width: 173px;
                        height: 44px;
                        margin-bottom: 9px;
                        overflow: hidden;
                    }
                }
                .title-name {
                    float: left;
                    width: 48px;
                    height: 22px;
                    margin-right: 9px;
                    font-size: 12px;
                    line-height: 22px;
                    overflow: hidden;
                    a {
                        color: #fff;
                    }
                }
                .triangle {
                    display: none;
                    right: -12px;
                    top: 41px;
                    z-index: 3;
                    width: 0;
                    height: 0;
                    line-height: 0;
                    font-size: 0;
                    border-color: transparent transparent transparent #0059a9;
                    border-style: dashed dashed dashed solid;
                    border-width: 6px;
                    position: absolute;
                }
                &.hover {
                    background-color: #0059a9;
                    .menu-arrow {
                        display: none;
                    }
                    .triangle {
                        display: block;
                    }
                }
            }
        }
        .content {
            position: absolute;
            top: 0;
            left: 193px;
            display: none;
        }
        .c-layer {
            display: none;
            width: 393px;
            height: 448px;
            padding-left: 20px;
            border: 1px solid #006ac8;
            border-left: 0;
            background: #fff;
            opacity: .96;
            overflow: hidden;
            .c-left {
                width: 160px;
                height: 340px;
                margin: 49px 0 60px;
                padding-right: 22px;
                border-right: 1px solid #ddd;
                .items {
                    margin-bottom: 26px;
                    .item-title {
                        color: #999;
                        font-size: 15px;
                        line-height: 15px;
                        margin-bottom: 10px;
                    }
                    .item-cont {
                        width: 100%;
                        height: 40px;
                        overflow: hidden;
                    }
                    .item-name {
                        float: left;
                        min-width: 48px;
                        height: 20px;
                        font-size: 12px;
                        line-height: 20px;
                        margin-right: 5px;
                        overflow: hidden;
                    }
                }
            }
        }
        .show{
            display:block;
        }
    }
    .p-category .c-layer .c-left,
    .p-category .c-layer .c-right {
        float: left;
        overflow: hidden;
    }
}

.p-slider {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    .slider-mc {
        position: relative;
        .item {
            position: absolute;
            height: 450px;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 0;
            background-color: rgb(231, 52, 74);
            &.fore2{
                background-color:#1751A4;
            }
            &.fore3{
                background-color:#A79775;
            }
            &.fore4{
                background-color:#1485FC;
            }
            &.fore5{
                background-color:#61CAE7;
            }
            &.fore6{
                background-color:#B8A46F;
            }
        }
    }
    .i-wrap {
        position: relative;
        width: 1210px;
        margin: 0 auto;
    }
    img.err-product {
        background: url('../images/icon/error-jd.gif') no-repeat 50% 50%;
    }
    .slider-extra {
        position: relative;
        width: 1210px;
        height: 100%;
        margin: 0 auto;
        .slider-trigger {
            position: absolute;
            width: 797px;
            height: 16px;
            left: 193px;
            bottom: 10px;
            text-align: center;
            font-size: 0;
            z-index: 1;
            .ui-slider-trigger-item {
                display: inline-block;
                width: 16px;
                height: 16px;
                background-color: #3e3e3e;
                margin-right: 16px;
                border-radius: 8px;
                cursor:pointer;
                &.selected {
                    background-color: #b61b1f;
                }
            }
        }
        .slider-btn {
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 50%;
            z-index: 2;
            .prevBtn,.nextBtn {
                display: none;
                position: absolute;
                width: 16px;
                height: 30px;
                margin-top: -33px;
                padding: 18px 13px;
                color: #fff;
                text-align: center;
                font: 30px/30px simsun,Hiragino Sans GB;
                background: rgba(0,0,0,.5);
            }
            .nextBtn {
                right: 220px;
            }
            .prevBtn {
                left: 193px;
            }

        }
    }
}
.p-item {
    position: relative;
    float: right;
    margin-top: 20px;
    width: 220px;
    height: 410px;
    background: #fff;
    z-index: 2;
    overflow: hidden;
    .item-title {
        width: 210px;
        height: 44px;
        padding-left: 10px;
        color: #333;
        font-size: 16px;
        line-height: 44px;
        border-bottom: 1px solid #eaeaea;
        font-weight:bold;
    }
    .news-list {
        width: 200px;
        height: 72px;
        padding: 13px 10px 4px;
        border-bottom: 1px dotted #ebebeb;
        overflow: hidden;
        .news {
            font-size: 12px;
            line-height: 14px;
            margin-bottom: 10px;
        }
    }
    .service-list .service {
        float: left;
        width: 73px;
        height: 50px;
        padding: 15px 0 14px;
        border-bottom: 1px solid #eaeaea;
        text-align: center;
        overflow: hidden;
         .service-icon {
            width: 23px;
            height: 25px;
            margin: 0 auto;
            background: url('../images/icon/icon.png');
        }
        .service-name {
            display: inline-block;
            margin-top: 10px;
            font-size:12px;
        }
        &.fore1{
            .service-icon{
                background-position: 0 0;
            }
        }
        &.fore2{
            width: 72px;
            border-left: 1px solid #eaeaea;
            border-right: 1px solid #eaeaea;
            .service-icon{
                background-position: 0 -35px;
            }
        }
        &.fore3{
            .service-icon{
                background-position: 0 -70px;
            }
        }
    }
}
.today{
    overflow:visible;
    .mt {
        padding-bottom: 20px;
        font-size: 20px;
        line-height: 20px;
        font-weight:bold;
    }
    .mc {
        position: relative;
        overflow: visible;
    }
    .tab-list {
        position: absolute;
        top: -50px;
        left: 100px;
        .tab-item {
            float: left;
            position: relative;
            width: 40px;
            height: 34px;
            padding-left: 30px;
            margin-right: 10px;
            background: url('../images/icon/tab.png');
            color: #fff;
            line-height: 34px;
            &.selected{
                .triangle{
                    display:block;
                }
            }
            .triangle {
                display:none;
                width: 0;
                height: 0;
                line-height: 0;
                font-size: 0;
                border-style: solid dashed dashed;
                border-width: 6px;
                position: absolute;
                left: 29px;
                top: 34px;
            }
            &.fore1 {
                background-position: 0 -3px;
                .triangle{
                    border-color: #75a9e5 transparent transparent;
                }
            }
            &.fore2 {
                background-position: -300px -3px;
                .triangle{
                    border-color: #f4bd6b transparent transparent;
                }
            }
            &.fore3 {
                background-position: -100px -3px;
                .triangle{
                    border-color: #80d077 transparent transparent;
                }
            }
            &.fore4 {
                background-position: -200px -3px;
                .triangle{
                    border-color: #fc8158 transparent transparent;
                }
            }
        }
    }
    .tab-cont{
        height:342px;

    }
    .today-list {
        display: none;
        width: 1210px;
        height: 285px;
        padding: 25px 0 30px;
        border: 1px solid #ddd;
        .today-item {
            float: left;
            height: 100%;
            width: 241px;
            border-right: 1px solid #ddd;
            .p-img {
                width: 100%;
                height: 206px;
                line-height: 206px;
                text-align: center;
                img {
                    -webkit-transition: transform .1s ease;
                    -webkit-transition: -webkit-transform .1s ease;
                    transition: -webkit-transform .1s ease;
                    transition: transform .1s ease;
                    transition: transform .1s ease,-webkit-transform .1s ease;
                    &:hover{
                        -webkit-transform: scale(1.02);
                           -moz-transform: scale(1.02);
                            -ms-transform: scale(1.02);
                             -o-transform: scale(1.02);
                                transform: scale(1.02);
                    }
                }
            }
            .p-name {
                width: 200px;
                height: 36px;
                margin: 8px 17px 15px;
                font-size:12px;
                a:hover{
                    color:#f30213;
                }
            }
            .p-price {
                margin-left: 17px;
                font-size: 18px;
                line-height: 18px;
                color: #c61822;
            }
            &.fore5{
                border-right:none;
            }
        }
        &.selected{
            display:block;
        }
    }
}
.portal_floor4{
    margin-top:41px;
}
.theme{
    margin-bottom: 20px;
    .mt {
        padding-bottom: 12px;
        font-size: 20px;
        line-height: 20px;
        font-weight:bold;
    }
    .mc {
        position: relative;
        width: 100%;
        height: 371px;
    }
    .list-item{


        li{
            float:left;
        }
        .dd{
            a{
                display:block;
                &:first-child{
                    border-top:1px solid #ddd;
                }
            }
        }
        a{
            border-right:1px solid #ddd;
            border-bottom:1px solid #ddd;
            font-size: 0;
        }
        .dt{
            overflow:hidden;
            img {
                -webkit-transition: transform .5s ease;
                -webkit-transition: -webkit-transform .5s ease;
                transition: -webkit-transform .5s ease;
                transition: transform .5s ease;
                transition: transform .5s ease,-webkit-transform .5s ease;
                &:hover{
                    -webkit-transform: scale(1.02);
                       -moz-transform: scale(1.02);
                        -ms-transform: scale(1.02);
                         -o-transform: scale(1.02);
                            transform: scale(1.02);
                }
            }
        }
    }
}

